.placeholder {
  object-fit: cover;
  width: 100%;
}

main {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--color);
}

/* To use for motion */
@media (prefers-reduced-motion: no-preference) {
}
